<h1 class= "Welcome">RubiServes</h1>
<p class = "navbar" ><%= link_to "Menu Card", "/menus" %></p>
<p class="SignOut"><%= link_to  "Sign Out", "/signout"%></p>

<hr>
<p>Here is the list of things in your RubiServes Cart! Enjoy your meal!  </p>
<% @ordeer_items.each do |item| %>

    <h3>Menu Name: <%= item.menu.name %></h3>
    <p><b>Menu Price: </b><%= item.menu.price %></p>


    <%= form_for item, remote: true do |f| %>
        <%= f.hidden_field :menu_id, :value => item.menu.id %>
        <%= f.number_field :quantity, :value => item.quantity.to_i %>
        <%= f.submit "Update Cart " %>
        <p><%= link_to "Remove This Item From My Cart", ordeer_item_path(item), method: :delete %></p>
    <% end %>
    <p><b>Subtotal: </b><%= item.total %></p>
    <hr>

<% end %>




<h3>Your current card value has a subtotal of: <%= current_ordeer.subtotal %></h3>